<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-img class="logo-img" src="../../assets/images/logo.jpg" center ></ion-img>

    <ion-item>
        <ion-label position="stacked">Email:</ion-label>
        <ion-input type="email" required email [(ngModel)]="email_V"></ion-input>
      </ion-item>
      <ion-button shape="round" fill="solid" margin-top (click)="start()" > START </ion-button>
      <ion-button shape="round" fill="solid" (click)="goBack()" margin-top  margin-start> Go Back </ion-button>
    
    <ion-item>
      <ion-label>
        Learn What Matters... 
      </ion-label>
    </ion-item>
    
  
</ion-content>
