
<ion-content text-center class="vertical-align-content" margin-bottom="50px" [hidden]="!(resultPageDisplay)">
  <div class="frame0" style="text-align: -webkit-center;" >
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title><h4>Test Result</h4></ion-title>
        </ion-toolbar>
    </ion-header>
    <h1>Score</h1>
    <h2>{{correctWords}} / {{totalWords}}</h2>
    <ion-button class='' (click)="goMain()">Back</ion-button>
  </div>
</ion-content>
<ion-content text-center class="vertical-align-content" margin-bottom="50px" [hidden]="resultPageDisplay">
  <ion-header>
      <ion-toolbar color="primary">
          <ion-title><h4>{{data[index].test.id}}</h4></ion-title>
      </ion-toolbar>
  </ion-header>
    <div class="frame0" [hidden]="!(data[index].type === 'written')">
        <br/><br/>
        <ion-button shape="round" color="secondary" fill="solid" margin-bottom (click)="checkAnswer(data[index].words[0]._id, data[index].test._id)" >{{data[index].words[0][learningLang].word}}</ion-button><br/>
        <ion-button shape="round" color="secondary" fill="solid" margin-bottom (click)="checkAnswer(data[index].words[1]._id, data[index].test._id)" >{{data[index].words[1][learningLang].word}}</ion-button><br/>
        <ion-button shape="round" color="secondary" fill="solid" margin-bottom (click)="checkAnswer(data[index].words[2]._id, data[index].test._id)" >{{data[index].words[2][learningLang].word}}</ion-button><br/>
        <ion-button shape="round" color="secondary" fill="solid" margin-bottom (click)="checkAnswer(data[index].words[3]._id, data[index].test._id)" >{{data[index].words[3][learningLang].word}}</ion-button>
    </div>

    <div class="frame0" [hidden]="!(data[index].type === 'visual')" >
        <ion-card>
                <img src="{{imageDir+data[index].test.url}}"/>
        </ion-card>
        <br/><br/>
        <ion-button shape="round" color="secondary" fill="solid" margin-bottom (click)="checkAnswer(data[index].words[0]._id, data[index].test._id)" >{{data[index].words[0][learningLang].word}}</ion-button><br/>
        <ion-button shape="round" color="secondary" fill="solid" margin-bottom (click)="checkAnswer(data[index].words[1]._id, data[index].test._id)" >{{data[index].words[1][learningLang].word}}</ion-button><br/>
        <ion-button shape="round" color="secondary" fill="solid" margin-bottom (click)="checkAnswer(data[index].words[2]._id, data[index].test._id)" >{{data[index].words[2][learningLang].word}}</ion-button><br/>
        <ion-button shape="round" color="secondary" fill="solid" margin-bottom (click)="checkAnswer(data[index].words[3]._id, data[index].test._id)" >{{data[index].words[3][learningLang].word}}</ion-button>
    </div>

    <div class="frame0" [hidden]="!(data[index].type === 'sentence')">
        <h1> {{data[index].test["en"]["sentences"][data[index].sentencePos]}}</h1>
        <h2> {{data[index].test[learningLang]["sentences"][data[index].sentencePos]}}</h2>
        <br/><br/>
        <ion-button shape="round" color="secondary" fill="solid" margin-bottom (click)="checkAnswer(data[index].words[0]._id, data[index].test._id)" >{{data[index].words[0][learningLang].word}}</ion-button><br/>
        <ion-button shape="round" color="secondary" fill="solid" margin-bottom (click)="checkAnswer(data[index].words[1]._id, data[index].test._id)" >{{data[index].words[1][learningLang].word}}</ion-button><br/>
        <ion-button shape="round" color="secondary" fill="solid" margin-bottom (click)="checkAnswer(data[index].words[2]._id, data[index].test._id)" >{{data[index].words[2][learningLang].word}}</ion-button><br/>
        <ion-button shape="round" color="secondary" fill="solid" margin-bottom (click)="checkAnswer(data[index].words[3]._id, data[index].test._id)" >{{data[index].words[3][learningLang].word}}</ion-button>
    </div>

    <div class="frame0" style="text-align: -webkit-center;" [hidden]="!(data[index].type === 'pronunciation')">
        <ion-card padding>
                <h1 text-color=#000>This is a Pronounciation test! Identify the correct translation from the words given below and then tap the speak button to test your pronounciation. You can give it multiple tries! Once ready tap confirm.</h1>
        </ion-card>
        <br/><br/>
        <ion-button shape="round" color="medium" fill="solid" margin-bottom>{{data[index].words[0][learningLang].word}}</ion-button>&ensp;
        <ion-button shape="round" color="medium" fill="solid" margin-bottom>{{data[index].words[1][learningLang].word}}</ion-button><br/>
        <ion-button shape="round" color="medium" fill="solid" margin-bottom>{{data[index].words[2][learningLang].word}}</ion-button>&ensp;
        <ion-button shape="round" color="medium" fill="solid" margin-bottom>{{data[index].words[3][learningLang].word}}</ion-button><br/><br/><br/><br/>

        <ion-button shape="round" (click)="startRecording(data[index].test[learningLang].word)">Speak</ion-button>
        <ion-button shape="round" (click)="confirmPronunciation()">Confirm</ion-button>
    </div>

</ion-content>
