img {
    width: 80hv;
    height: 80hv; 
	margin:50hv;
	border: 3px solid;
    border-radius: 21px;
}


.c0{
    display: inline-flex;
    margin-left: 2%;
}

p{
    font-size: 30px;
    margin-right: 10%;
    width: 30vh;
    cursor: pointer;
    margin-bottom: 80px;
}



