<ion-header>
  <ion-toolbar>
    <ion-title>test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="frame0"  [hidden]=image>
    <h2>{{data[index].word}}</h2>
    <div class="c0">

    <div class="c1">
        <div >
            <p (click)="checkAnswer(data[index].v1,data[index].answer)">{{data[index].v1}}</p>
        </div>
        <div >
            <p (click)="checkAnswer(data[index].v2,data[index].answer)">{{data[index].v2}}</p>
        </div>
    </div>
    <div class="c1">
        <div >
            <p (click)="checkAnswer(data[index].v3,data[index].answer)">{{data[index].v3}}</p>
        </div>   
        <div >
            <p (click)="checkAnswer(data[index].v4,data[index].answer)">{{data[index].v4}}</p>
        </div>  
    </div>

  </div>
  </div>

  <div class="frame0"  [hidden]="text">
    <img src="{{data[index].word}}"/>
    <div class="c0">

    <div class="c1">
        <div >
            <p (click)="checkAnswer(data[index].v1,data[index].answer)">{{data[index].v1}}</p>
        </div>
        <div >
            <p (click)="checkAnswer(data[index].v2,data[index].answer)">{{data[index].v2}}</p>
        </div>
    </div>
    <div class="c1">
        <div >
            <p (click)="checkAnswer(data[index].v3,data[index].answer)">{{data[index].v3}}</p>
        </div>   
        <div >
            <p (click)="checkAnswer(data[index].v4,data[index].answer)">{{data[index].v4}}</p>
        </div>  
    </div>

  </div>
  </div>
</ion-content>
