<ion-header>
  <ion-toolbar>
    <ion-title>learn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div>
  
    <h2>{{data[index].word}}</h2>
  
    <div class="c0">
        <div >
            <img src={{data[index].im1}} (click)="check(data[index].im1,data[index].answer)"/>
            <p>{{data[index].w1}}</p>
        </div>
        <div >
            <img src={{data[index].im2}} (click)="check(data[index].im2,data[index].answer)"/>
            <p>{{data[index].w2}}</p>
        </div>
    </div>
    <div class="c0">
        <div >
            <img src={{data[index].im3}} (click)="check(data[index].im3,data[index].answer)"/>
            <p>{{data[index].w3}}</p>
        </div>   
        <div >
            <img src={{data[index].im4}} (click)="check(data[index].im3,data[index].answer)"/>
            <p>{{data[index].w4}}</p>
        </div>  
    </div>

  </div>
  
</ion-content>
