<ion-header>
    <ion-toolbar>
        <ion-title>Progress for {{langs[learningLang]}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <p></p>

    <div class="progress-wrapper">
        <div *ngFor="let item of completedWords | keyvalue">
            <ion-card>
                <ion-card-title>Topic {{item.key}}</ion-card-title>
                <div>
                    <p class="texttop">You master</p>
                    <p class="progress-val">{{item.value}}%</p>
                    <p class="text">of known words</p>

                </div>
                <round-progress
                        [current]="item.value"
                        [max]="100"
                        [color]="'#45ccce'"
                        [background]="'#eaeaea'"
                        [radius]="10"
                        [stroke]="3"
                        [semicircle]="false"
                        [rounded]="true"
                        [clockwise]="true"
                        [responsive]="true"
                        [duration]="800"
                        [animation]="'easeInOutQuart'"
                        [animationDelay]="0">
                </round-progress>
            </ion-card>
        </div>
    </div>

    <ion-button shape="round" (click)="goBack()" >Back</ion-button>


</ion-content>
