<ion-header>
  <ion-toolbar>
    <ion-title>What's next?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<h3 style="text-align:center ">Thats it for this session! Would you like to start a new one or test your current knowlege?</h3>
    <ion-button class='test' (click)="goTest()">Do the test</ion-button>
	<br>
    <ion-button class='test' (click)="goLearn()">Learn more words</ion-button>
    <br>
    <ion-button class='test' (click)="goMain()">Menu</ion-button>
</ion-content>
