img {
    // display: block;
    width: 100%;
    height: 50vw;
    object-fit: cover;
    // max-height: 50%;
}
h4{
    text-align: center;
    font-size: 30px
}
ion-card-title{
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 26px
}
.c0{
    display: inline-flex;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
}

[cards] {
    .grid-full ion-col {
        flex: 0 0 50%;
        max-width: 50%;
        max-height:calc(100% - 30px);
        padding: 5px 0;
    }
    .row {
        padding: 0 12px;
    }
    .col {
        padding: 5px 0;
    }
    .card {
        margin: 0 5px;
        width: calc(100% - 10px);
        height:calc(100% - 10px);
        padding: 10px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
        border-radius: 4px;
        h1 {
            font-weight: 400;
            font-size: 12px;
            font-size: 3.5rem;
        }
        p {
            font-weight: 100;
            font-size: 1.5rem;
        }
    }
}

.vertical-align-content > 
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
     max-height:calc(100% - 35px);
}