<ion-header>
  <ion-toolbar color = "primary">
    <ion-title><h4>{{data[index].learning.id}}</h4></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div cards>
  <div class = "grid-full"> 
    <ion-row>
      <ion-col>
        <ion-card (click)="check(data[index].words[0]._id, data[index].learning._id)">
          <img src={{imageDir+data[index].words[0].url}}/>
          <ion-card-title>{{data[index].words[0][learningLang].word}}</ion-card-title>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click)="check(data[index].words[1]._id, data[index].learning._id)">
          <img src={{imageDir+data[index].words[1].url}}/>
          <ion-card-title>{{data[index].words[1][learningLang].word}}</ion-card-title>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click)="check(data[index].words[2]._id, data[index].learning._id)">
            <img src={{imageDir+data[index].words[2].url}}/>
            <ion-card-title>{{data[index].words[2][learningLang].word}}</ion-card-title>
          </ion-card>
      </ion-col>
      <ion-col>
          <ion-card (click)="check(data[index].words[3]._id, data[index].learning._id)">
              <img src={{imageDir+data[index].words[3].url}}/>
              <ion-card-title>{{data[index].words[3][learningLang].word}}</ion-card-title>
          </ion-card>
      </ion-col>
    </ion-row>
  </div>
</div>
<ion-button shape="round" fill="solid" color="secondary" (click)="playText(data[index].learning[this.learningLang].word)" expand="full"  margin-bottom >Listen</ion-button>
</ion-content>