<ion-header>
  <ion-toolbar>
    <ion-title>main</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding style="text-align: -webkit-center;">
<div class="mode">
  <img src='../../assets/images/learn.jpg'  (click)="learnPage()">
  <p>Learning Phase</p>
    <img src='../../assets/images/test.jpg'   (click)="testPage()" >
  <p>Testing Phase</p>
  <img src='../../assets/images/stats.jpg'  (click)="ShowStatistics()">
  <p>Show Statistics</p>
    <img src='../../assets/images/settings.jpg'   (click)="ChangePreference()" >
  <p>Settings</p>

</div>
<ion-button (click)="Logout()" >Logout</ion-button>
</ion-content>
