<ion-header>
  <ion-toolbar>
    <ion-title>test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
  
    <h2>{{data[index].word}}</h2>
  
    <div class="c0">
        <div >
            <img src={{data[index].im1}}/>
            <p>{{data[index].w1}}</p>
        </div>
        <div >
            <img src={{data[index].im2}}/>
            <p>{{data[index].w2}}</p>
        </div>
    </div>
    <div class="c0">
        <div >
            <img src={{data[index].im3}}/>
            <p>{{data[index].w3}}</p>
        </div>   
        <div >
            <img src={{data[index].im4}}/>
            <p>{{data[index].w4}}</p>
        </div>  
    </div>

    <ion-button (click)="next()">Next</ion-button>
  </div>
</ion-content>
