<ion-header>
  <ion-toolbar>
    <ion-title>Tutorial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-slides pager="true">

    <ion-slide >
      <ion-img class="logo-img" src="../../assets/images/logo.png" center ></ion-img>
      <h4>Learn What matters!</h4>
      <ion-button shape="round" fill="solid" (click)="goHome()"   expand="full" margin-bottom-left>Skip</ion-button>
    </ion-slide>

    <ion-slide >
      <h4>When you register select a language that you want to learn. When registered, you will be able to select specific topics in your "set preferences" tab.</h4>
    </ion-slide>

    <ion-slide>
      <h4>Choose your style of learning! Learn from the different ways that lolo provides you to learn (visual, textual, audio)</h4>
      <ion-button shape="round" fill="solid" (click)="goHome()"   expand="full" margin-bottom>Let's Go</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
