<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Tutorial</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content background-color = "light-shade" padding>
  <ion-slides pager="true">

    <ion-slide color = "light-shade" >
      <div class= "slider_container">
        <ion-img class="logo-img" src="../../assets/images/logo.png" style="width:100%;height:auto;margin:0;display:block" ></ion-img>
      </div>
      <h4>Learn What Matters!</h4>
      <h4>Swipe right -> </h4>
    </ion-slide>
    <div class = "button_place">
        <ion-button shape="round"  (click)="goHome()" expand="full" color = "light">Skip</ion-button>
    </div>
    
    <ion-slide>
      <h1>When you register, select a language that you want to learn. After registering you will be able to select specific topics in your 'Set Preferences' tab.</h1>
    </ion-slide>

    <ion-slide>
      <h1>Learn from the different ways that lolo provides you to learn (visual, textual, audio)</h1>
      <ion-button shape="round" fill="solid" (click)="goHome()"   expand="full" margin-bottom>Let's Go</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
