<ion-header>
  <ion-toolbar>
    <ion-title >
      LOLO
    </ion-title>
  </ion-toolbar>
</ion-header >
<ion-content padding>
  

  <ion-img class="logo-img" src="../../assets/images/logo.jpg" center ></ion-img>


<ion-button color="light" (click)="goLogin()"   expand="full" margin-bottom>LOGIN</ion-button>
<ion-button color="secondary" (click)="goRegister()"  expand="full" margin-bottom>Register</ion-button>

<ion-item>
  <ion-label>
    Learn What Matters... 
  </ion-label>
</ion-item>

</ion-content>

